
body{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

#heading{
padding-top: 10px;
font-size: large;
color: white;
}

#fashion{
    color:#2ECC71;
    font-weight: 600;
}

#searchbar{
   background-color: #F5F5F5;  
}

#discover{
    font-weight: 400;
}

.nav-item{
    text-decoration: none;
}

.nav-back-style{
    background-color: #2ECC71; 
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler{
    color: white !important;
    border-color: white !important;
}

.navbar-toggler-icon{
    color: white !important;
    border-color: white !important;
}

.col-align{
    text-align: right !important;
}

.nav-type{
    list-style-type: none;
}

.fa-color{
    color: white;
}

.container-spaced{
    padding: 2% 10% !important;
}

.container-align{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nav-cart-space{
    margin-right: 120px;
}

.container{
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}

.form-size{
    width: 50%;
}

.split {

    position: fixed;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 1px solid black;
    height: 100%;
  
  }
  
  /* Control the left side */
  .left {
    width: 17%;
    left: 0;
    padding: 5% 0 5% 3%;
    
  }
  
  /* Control the right side */
  .right {
    width: 83%;
    right: 0;
   
  }

  .li-item{
      list-style-type: none;
  }

  .li-pad{
      padding-right: 9px;
  }

  .li-split{
      font-size: 20px;
      font-weight: 500;
      padding: 4% 0;
  }

  .li-pad-img{
      width: 10%;
      padding-right: 4px;
  }

  .overwiew{
      font-size: 19px;
      font-weight: 500;
      padding-bottom: 10px;
  }
  
@media(min-width: 960px){
    .fa-color-front{
        display: none !important;
    }
}

@media(max-width: 960px){
    .nav-back-style{
        background-color: #ffffff; 
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    .mob-color{
        color: black !important;
    }
    .fa-color{
        color: black;
    }
    .nav-button-mob{
        display: none !important;
    }
    .form-size{
        width: 100%;
        border-radius: 25px !important;
        padding-top: 15px;
    }
    .fa-color{
        display: none !important;
    }
    .fa-color-front-loc{
        color:  #2ECC71;
    }
    .mob-align-spa{
        padding: 0px !important;
    }
    .mob-text{
        font-size: 1.1rem !important;
    }
}
