.main {
    width: 30%;
}

.abc {
    font-size: 18px;
}

.row.nav.d-sm-flex.d-md-none {
    padding: 5px;
    padding-left: 10px !important;
    font-weight: 700;
    padding-right: 0px;
    font-size: 17px;
}

nav.nav.navbar-toggler {
    align-items: center;
    margin-left: 70px !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
    margin-top: 10px;
    background-color: rgb(243, 241, 241);
    border-radius: 8px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: rgb(92, 91, 91);
    top: 10px;
}

.status {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.highlight {
    text-decoration: underline green;
    text-decoration-thickness: 10%;
}

.card-view {
    background-color: rgb(243, 241, 241);
    height: auto;
}

.row .card-display {
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.alert.alert-danger {
    margin: 10px;
    width: 89px;
    height: 28px;
    padding: inherit;
    color: red;
    font-weight: 700;
    font-size: 16px !important;
}

.col-4.padi-cg {
    padding: 0 !important;
}

.col-sm-12.col-md-4 {
    margin: 5px 0 !important;
}

nav div {
    display: inline-block;
}

nav .h5 {
    width: 300px;
}

input.form-control {
    width: 450px !important;
}

.status-active {
    display: inline-block;
    border-bottom: solid 6px rgb(5, 202, 5);
    padding: 0 10px;
}

.status div {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    nav .main {
        width: 100%;
    }
    nav .main .form-group {
        width: 100%;
    }
}

.align-right {
    text-align: right;
}

.hide-bot {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    .top-change {
        top: 20px;
    }
    .card-view {
        height: 650px;
    }
    .hide-bot {
        display: flex !important;
    }
}