.Table {
  padding-left: 30px;
}

.total {
  padding-top: 20px;
}

.Payment {
  padding-left: 80px;
}

.Home {
  padding-left: 100px;
}

.order {
  padding-top: 20px;
}

.image {
  padding-top: 40px;
}

.orderid {
  padding-left: 80px;
  padding-top: 10px;
}

.Delivery {
  padding-left: 30px;
}

.Button {
  padding-top: 80px;
}

.total2 {
  padding-left: 80px;
}

.btn2 {
  padding-left: 80px;
}

.btn1 {
  padding-left: 20px;
}
@media only screen and (max-width:992px) {
    .Button {
      position: absolute;
      top: 55rem;
      right:1.5rem;
      padding-bottom: 20px;
    }
    #div2 {
      border-top: 1px solid #DCDCDC;
      padding-top: 30px;
    }
    #div1-1 {
      padding-bottom: 20px;
    }

}
